{% extends 'core/base.html' %}

{% block content %}
<h1>Задания</h1>

<div style="padding: 15px; ">
      <table class="table">
        <thead>
            <tr class="table">
              <th scope="col">#</th>
              <th scope="col">Задание</th>
              <th scope="col">Выполнено</th>
            </tr>
          </thead>
          <tbody>
            <tr class="table">
              <th scope="row">1</th>
              <td scope="row">{{task1.name}}</td>
              <td scope="row">{{task1.complete}}</td>
            </tr>
            <tr class="table">
              <th scope="row">2</th>
              <td scope="row">{{task2.name}}</td>
              <td scope="row">{{task2.complete}}</td>
            </tr>
            <tr class="table">
              <th scope="row">3</th>
              <td scope="row">{{task3.name}}</td>
              <td scope="row">{{task3.complete}}</td>
            </tr>
          </tbody>
      </table>
      </div>

{% endblock content %}